<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='ShoppingListAddController as itemAdder'>
      <h2>To Buy:</h2>
      <input type="text" ng-model="itemAdder.itemName" placeholder="item name">
      <input type="text" ng-model="itemAdder.itemQuantity" placeholder="quantity">
      <button ng-click="itemAdder.addItem();" class="btn btn-default">Add Item To Shopping List</button>
   
      <ul ng-controller='ShoppingListShowController as showList'>
        <li ng-repeat="item in showList.items">
          {{ item.quantity }} of {{ item.name }}
          <button ng-click="showList.removeItem($index);" class="btn btn-default">Remove Item</button>
          <button ng-click="showList.addBoughtItem($index);" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Bought</button>
        </li>
      </ul>
    
     <div class="emptyMessage" ng-if="showList.items.length !== undefined">Everything is Bought!</div>
     
  
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="ShoppingListBoughtController as boughtList">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="boughtItem in boughtList.boughtItems">Bought {{ boughtItem.quantity }} {{ boughtItem.name }} </li>
     </ul>
     <div class="emptyMessage" ng-if="!boughtList.boughtItems.length">Nothing Bought Yet!</div>
    </div>
  </div>
</div>

</body>
</html>
